<div class="row">
    <div class="col">
        <p><a href="#" (click)="goHome($event)">Home</a></p>
        <h4>Edit an Author</h4>
        <p class="errorMsg">{{errorMsg}}</p>
        <form (submit)="submitEdit()" id="editForm" *ngIf="author">
            <div class="form-group">
                <label for="editName">Name</label>
                <input type="text" class="form-control" id="editName" name="editName" [(ngModel)]="author.name">
            </div>
            <button type="submit" class="btn btn-primary mr-2">Update Author</button>
            <button class="btn btn-secondary" (click)="goHome($event)">Cancel</button>
        </form>
    </div>
</div>