<div class="row">
    <div class="col">
        <p><a href="#" (click)="goHome($event)">Home</a></p>
        <h4>Add an Author</h4>
        <form (submit)="submitNew()" id="newForm">
            <div class="form-group">
                <label for="newName">Name</label>
                <p class="errorMsg" *ngIf="errorMsg.name">{{errorMsg.name.message}}</p>
                <input type="text" class="form-control" id="newName" name="newName" [(ngModel)]="author.name" required minlength="3" #authorName="ngModel">
            </div>
            <button type="submit" class="btn btn-primary mr-2">Add Author</button>
            <button class="btn btn-secondary" (click)="goHome($event)">Cancel</button>
        </form>
    </div>
</div>
